*
!/.*
/.ICEauthority
/.Xauthority
/.Xauthority.W21L2W
/.apport-ignore.xml
/.bash_history
/.bash_logout
/.bash_profile
/.dmenu_cache
/.dmrc
/.gksu.lock
/.irb-history
/.mysql_history
/.nvidia-settings-rc
/.ovftool.ssldb
/.profile
/.xsession-errors
/.xsession-errors.old
/.zprofile
/.zshrc
/.ssh
