[user]
	email = bastosmichael@gmail.com
	name = Michael Bastos
[push]
	default = matching
[http]
	postBuffer = 524288000
[color]
        ui = auto
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
  	dump = cat-file -p
